		<footer class="footer">
			<div class="footer__content container">
				<div class="footer__logo">
					<img src="img/logo.svg" alt="">
				</div>
				<div class="footer__links">
					<a href="">Twitter</a>
					<a href="">Twitter</a>
					<a href="">Youtube</a>
					<a href="">Instagram</a>
					<a href="">Flickr</a>
					<a href="">LinkedIn</a>
					<a href="">Privacy</a>
					<a href="">Policy</a>
				</div>
				<p>For additional questions, contact rideshare@spacex.com</p>
				<div class="footer__button-wrapper">
					<a href="" class="button"><span>Contact us</span></a>
				</div>
			</div>
		</footer>
	<script type="module" src="js/app.min.js?v=1.0.0"></script>
	</div>
</body>
</html>