<header class="header">
	<a href="index.html" class="header__logo">
		<img src="img/logo.svg"	 alt="logo">
	</a>
	<ul class="header__menu header__menu-center">
			<li><a href="section__1" class="header__menu-link anchor">Falcon 9</a></li>
			<li><a href="#" class="header__menu-link anchor">Falcon Heavy</a></li>
			<li><a href="#" class="header__menu-link">Dragon</a></li>
			<li><a href="#" class="header__menu-link">Updates</a></li>
			<li class="mobile-link"><a href="#" class="header__menu-link anchor">About</a></li>
			<li class="mobile-link"><a href="#" class="header__menu-link">Gallery</a></li>
			<li class="mobile-link"><a href="#" class="header__menu-link">Shop</a></li>
	</ul>
	<ul class="header__menu">
		<li><a href="#" class="header__menu-link anchor">About</a></li>
		<li><a href="#" class="header__menu-link">Gallery</a></li>
		<li><a href="#" class="header__menu-link">Shop</a></li>
	</ul>
	<div class="icon-menu"><span></span></div>
</header>